@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

header {
  background: #f9e323;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 18px;
}

a:hover,
.btn:hover {
  cursor: pointer;
}

.container {
  margin: 10px;
  max-width: 768px;
  min-width: 200px;
}

.form-field {
  margin: 0.25em 0;
  display: flex;
  align-items: baseline;
}

.form-field input,
.form-field select {
  margin: 0 0.25em;
}

.form-field input[type="text"] {
  flex: 1;
}

@media screen and (min-width: 788px) {
  .container {
    margin: 0 auto;
  }
}

.btn {
  border: 1px solid black;
  padding: 0.1em 0.5em;
  border-radius: 3px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.btn__yellow {
  background-color: #f9e323;
}

.btn__yellow:hover,
.btn__yellow:focus {
  background-color: #e7d114;
}

.btn__red {
  color: white;
  background-color: #ff0000;
}

.btn__red:hover,
.btn__red:focus {
  background-color: #ce0101;
}

.btn__green {
  color: white;
  background-color: #41ca00;
}

.btn__green:hover,
.btn__green:focus {
  background-color: #329700;
}

.project--title {
  font-size: 16px;
  color: #555555;
}

.project--title-group {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
}

.project--title-group .btn {
  font-size: 12px;
  margin-left: 0.25em;
}

.project--edit-title {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

input.project--title {
  padding-left: 0.25em;
  padding-right: 0.25em;
  flex: 1;
  border: 1px solid black;
  border-radius: 0;
  outline: 0;
}

.project--new-todo {
  font-size: 9px;
}

.project--card {
  background-color: white;
  padding: 5px 10px;
  display: grid;
  justify-items: start;
  grid-gap: 3px;
}

.todo {
  width: 100%;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.todo input[type="checkbox"] {
  grid-row: 1 / -1;
  grid-column-start: 1;
  align-self: center;
}

.todo--important,
.form-field {
  font-size: 10px;
}

.todo--info {
  font-size: 8px;
  display: flex;
}

.todo--buttons {
  display: flex;
}

.todo--info > *,
.todo--buttons button {
  margin-right: 0.25em;
}

.todo--due-date {
  color: #555555;
}

.todo--buttons button {
  background: inherit;
  border: 0;
  outline: none;
}

.todo--buttons button:hover,
.todo--buttons button:focus {
  text-decoration: underline;
}

.todo--priority {
  font-weight: bold;
}

.todo--priority__high {
  color: #ce0101;
}

.todo--priority__medium {
  color: #ff8c00;
}

.todo--priority__low {
  color: #41ca00;
}

.todo--delete {
  color: #ce0101;
}

.project--create {
  margin: .25em 0;
  font-size: 12px;
}
